################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/Debug
/.vs/BorstPrimitive/v16
/x64/Debug
/x64/Release
/build
/out
